<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
      defaultHref="/"
      text="volver"
      color="medium"
      mode="ios"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-avatar>
         <ion-img src="/assets/coronaviruu.png" routerLink="/index"></ion-img>
      </ion-avatar>
    </ion-buttons>
    <ion-title>Noticias Mundiales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12"
      *ngFor="let noticia of noticias; let i = index">
        <ion-card color="dark">
          <ion-card-header>
            <ion-card-subtitle>
              <span class="text">{{i+1}}</span>
              <span class="noticia-name">{{noticia.source.name}}</span>
            </ion-card-subtitle>
            <ion-card-title>{{noticia.title}}</ion-card-title>
          </ion-card-header>
          <ion-img  *ngIf="noticia.urlToImage"
                    [src]="noticia.urlToImage"></ion-img>

          <ion-card-content>
            <p class="noticia-description">
              {{noticia.description}}
            </p>
          </ion-card-content>
          <ion-card-content>
            <p class="noticia-content">
              {{noticia.content}}
            </p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="dark">
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button><ion-icon name="logo-twitter"></ion-icon></ion-fab-button>
      <ion-fab-button><ion-icon name="logo-facebook"></ion-icon></ion-fab-button>
      <ion-fab-button href="https://instagram.com" target="_blank"><ion-icon name="logo-instagram"></ion-icon></ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button href="https://youtu.be/dQw4w9WgXcQ" target="_blank"><ion-icon name="logo-youtube"></ion-icon></ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
